@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    font-size: 16px; font-family:'Roboto', sans-serif;}
    .ava{width: 200px;
        border-radius: 30px;
        height: 200px;
        box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.25);  
     }
     .conte{max-width: 750px;
        margin: auto;}
     
     
     
     
   .info p {color:#000000 ;
    margin: 0;
text-decoration: underline;}


.bravl{
background:rgb(22, 97, 28);
padding: 15px;
margin: 20px;
border: 5px solid black;
border-radius:30px;
font-size: 16px;
}
a {color: rgb(0, 0, 0);
text-decoration:none;}
.href:hover{text-decoration:underline;}
.href:active{color: blue;}
.Dva{
background:rgb(22, 97, 28);
padding: 15px 20px;
margin: 20px;
border: 5px solid black;
border-radius:30px;
font-size: 16px;
}
.xovi{background:rgb(0, 102, 255);
    padding: 15px 20px;
    margin: 20px;
    border: 5px solid black;
    border-radius:30px;
    font-size: 16px;}